@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin:0; padding:0;
    top:0; left:0; right:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-decoration: none;
}

.wrapper{
    height: 4rem;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.logo{
    margin-left: 2rem;
    margin-top: 0.7rem;
    font-size: 2rem;
    color: white;
}

.link-container{
    margin-right: 2rem;
    margin-top: 1rem;
}

.link{
    color: white;
    font-size: 1.2rem;
}